<header>
  <h1>ねこったー</h1>
</header>
<div class="contents">
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
      <p class="user_name">野良猫１号<span class="time">・７月５日</span></p>
      <p class="text">
        今日も暇だにゃー、とりあえずゴロゴロするかにゃー、煮干し食べたいにゃー、食べたあとは散歩でも行きたいにゃー。
      </p>
    </div>
  </div>
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
      <p class="user_name">野良猫１号<span class="time">・７月５日</span></p>
      <p class="text">
        今日も暇だにゃー、とりあえずゴロゴロするかにゃー、煮干し食べたいにゃー、食べたあとは散歩でも行きたいにゃー。
      </p>
    </div>
  </div>
</div> 